Flutter/sigaa_notas/android/** linguist-vendored
Flutter/sigaa_notas/ios/** linguist-vendored
Flutter/sigaa_notas/linux/** linguist-vendored
Flutter/sigaa_notas/macos/** linguist-vendored
Flutter/sigaa_notas/web/** linguist-vendored
Flutter/sigaa_notas/windows/** linguist-vendored
