Álan Crístoffer e Sousa <acristoffers@startmail.com>
Álan Crístoffer e Sousa <acristoffers@startmail.com> <acristoffers@gmail.com>
Álan Crístoffer e Sousa <acristoffers@startmail.com> <alan@MacBook-Pro-de-Alan.local>

Alexandre Martins <xande.luis@hotmail.com>
